
 * { 
  margin : 0;
  padding: 0;
}
body,html {
  height:100%;
}
.bg{
  height:100%;
  background-image: url("../images/books.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}
  
  .container .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    background-color: #c98b45;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .container .card:hover {
    height : 320px;    
  }
  
  
  .container .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .container .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .container .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }
  .card-group{
    position:relative;
    top:4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wavy{
    font-family: 'Macondo', cursive;
    font-size: 5rem;
}
.wavy span {
    position: relative;
    display: inline-block;
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  @media screen and (min-width:200px) and (max-width:480px)
{
    
    .bg{
        height:100%;
        min-height:1000px;
    }
    .card{
        top:16rem;
    }
}

@media screen and (min-device-width:481px) and (max-device-width:768px)
{
    .bg{
        height:100%;
        min-height:1200px;
    }
    .card{
        top:25rem;
        font-size: 2rem;
    }
    
}

@media screen and (min-device-width:769px) and (max-device-width:1024px)
{
    
    .bg{
        height:100%;
        min-height:1200px;
    }
    .card{
        top:30rem;
        font-size: 2rem;
    }
}